@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    animation: spin 1.5s linear infinite;
}

.cargando {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100dvh;
    background-image: linear-gradient(to bottom, var(--background-color), var(--background-color-2), var(--background-color-3));
}
