:root {
    --primary-color: #24354e;
    --secondary-color: #385275;
    --background-color: #f2f2f2;
    --text-color: #222222;
    --text-color-2: #e4e4e4;
    --shadow-color: rgba(0, 0, 0, 0.3);
}
