.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(95deg, var(--background-color) 50%, var(--text-color-2));
}

.sectionTitulo {
    user-select: none;
    color: var(--text-color);
    padding: 20px 0;
}

.sectionTitulo h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 32px;
}

.sectionTitulo p {
    width: 320px;
    text-align: justify;
}

.sectionContenido {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.sectionContenido img {
    width: 320px;
    pointer-events: none;
}

.itemContainer {
    color: var(--text-color);
    width: 320px;
    margin-top: 20px;
}

.itemHeader {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.itemIcon {
    color: var(--primary-color);
    font-size: 30px;
}

.itemHeader h3 {
    font-size: 18px;
}

.itemContainer p {
    text-align: justify;
    width: 280px;
    margin-top: 5px;
    margin-left: 30px;
}

@media (min-width: 576px) {
    .sectionTitulo p,
    .sectionContenido img,
    .itemContainer,
    .itemContainer p {
        width: 530px;
    }

    .itemContainer p {
        margin-left: 0px;
    }
}

@media (min-width: 1200px) {
    .sectionTitulo p {
        width: 1050px;
    }

    .sectionContenido {
        flex-direction: row;
        gap: 50px;
    }

    .sectionContenido img {
        width: 600px;
    }

    .itemsContainer {
        margin-bottom: 20px;
    }

    .itemContainer,
    .itemContainer p {
        width: 405px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        padding-top: 20px;
    }

    .sectionTitulo h2 {
        font-size: 60px;
    }

    .sectionTitulo p {
        width: 1200px;
        font-size: 18px;
    }

    .sectionContenido {
        gap: 50px;
    }

    .sectionContenido img {
        width: 700px;
    }

    .itemsContainer {
        margin-bottom: 20px;
    }

    .itemContainer {
        width: 455px;
    }

    .itemContainer h3 {
        font-size: 22px;
    }

    .itemContainer p {
        font-size: 18px;
        width: 455px;
    }
}

@media (min-width: 1700px) {
    .sectionTitulo p {
        width: 1300px;
        font-size: 20px;
    }

    .sectionContenido {
        gap: 50px;
        margin-right: 0px;
    }

    .sectionContenido img {
        width: 700px;
    }

    .itemsContainer {
        margin-bottom: 20px;
    }

    .itemContainer {
        width: 550px;
    }

    .itemContainer h3 {
        font-size: 26px;
    }

    .itemContainer p {
        font-size: 20px;
        width: 550px;
    }
}
