.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(95deg, var(--background-color) 50%, var(--text-color-2));
    padding: 40px 0;
}

.sectionTitulo {
    user-select: none;
    color: var(--text-color);
}

.sectionTitulo h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

.sectionTitulo p {
    text-align: center;
    margin-bottom: 20px;
    width: 320px;
}

.sectionContenido {
    color: var(--text-color);
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido1,
.contenido2,
.contenido3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
}

.contenido1 p,
.contenido2 p,
.contenido3 p {
    text-align: center;
}

.contenido1 img {
    pointer-events: none;
    box-shadow: 0px 4px 10px var(--primary-color);
    border-radius: 5px;
    width: 320px;
}

.contenido1 h3,
.contenido3 h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}
.contenido2 h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

.contenido2 p {
    margin-top: 20px;
}

.contenido2 hr {
    display: none;
}

@media (min-width: 576px) {
    .sectionTitulo p,
    .contenido1,
    .contenido1 img,
    .contenido2,
    .contenido3 {
        width: 530px;
    }

    .sectionTitulo p,
    .contenido1 p,
    .contenido2 p,
    .contenido3 p {
        text-align: start;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding: 50px 0;
    }

    .sectionTitulo p,
    .contenido1,
    .contenido2,
    .contenido3 {
        width: 1050px;
    }

    .contenido1 {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        margin-top: 20px;
    }

    .contenido1 img {
        width: 450px;
    }

    .contenido1 p {
        width: 530px;
    }

    .contenido2 h3 {
        margin-top: 40px;
    }

    .contenido2 hr {
        display: block;
        width: 100%;
        border: none;
        border-radius: 10px;
        height: 2px;
        background-color: var(--primary-color);
        margin-top: 40px;
    }

    .contenido3 {
        flex-direction: row;
        justify-content: space-between;
    }

    .contenido3 h3 {
        margin-top: 40px;
    }

    .contenido3 p {
        width: 500px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        padding: 60px 0;
    }

    .sectionTitulo h2 {
        font-size: 52px;
    }

    .sectionTitulo p {
        width: 1200px;
        font-size: 18px;
    }

    .contenido1,
    .contenido2,
    .contenido3 {
        width: 1200px;
    }

    .contenido1 img {
        width: 600px;
    }

    .contenido1 p {
        margin-top: 30px;
    }

    .contenido1 h3,
    .contenido2 h3,
    .contenido3 h3 {
        font-size: 32px;
    }

    .contenido1 p,
    .contenido2 p,
    .contenido3 p {
        font-size: 18px;
    }

    .contenido2 hr {
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .contenido3 p {
        width: 540px;
    }
}

@media (min-width: 1700px) {
    .sectionTitulo p {
        width: 1300px;
        font-size: 20px;
    }

    .contenido1,
    .contenido2,
    .contenido3 {
        width: 1300px;
    }

    .contenido1 img {
        width: 650px;
    }

    .contenido1 h3 {
        margin-top: 60px;
    }

    .contenido1 p {
        width: 562px;
    }

    .contenido1 p,
    .contenido2 p,
    .contenido3 p {
        font-size: 20px;
    }

    .contenido3 p {
        width: 600px;
    }
}
